.header{
        
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{

        &__list{
            display: flex;
            justify-content: space-between;
        }

        &__item{
            list-style-type: none;
        }

        &__link{
            text-decoration: none;
            padding: 33px;
            color: #83888F;
            font-family:"Barlow";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0.923px;
            text-transform: uppercase;

        }


    }
}